@model OnlineFood.Models.Function

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center text-danger my-4">Delete Function</h1>

<h3 class="text-center">Are you sure you want to delete this function?</h3>

<div class="card shadow-lg p-4 mt-4">
    <h4 class="card-title mb-4 text-warning">Function Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 fw-bold text-primary">
            Tên chức vụ
        </dt>
        <dd class="col-sm-9 border-bottom pb-2 mb-2">
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt class="col-sm-3 fw-bold text-primary">
            Mô tả
        </dt>
        <dd class="col-sm-9 border-bottom pb-2 mb-2">
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt class="col-sm-3 fw-bold text-primary">
            Trạng thái
        </dt>
        <dd class="col-sm-9 border-bottom pb-2 mb-2">
            @(Model.TrangThai == 1 ? "Active" : "Inactive")
        </dd>
    </dl>

    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex justify-content-between">
            <input type="submit" value="Delete" class="btn btn-danger px-4" />
            <a href="@Url.Action("Index", "Settings")" class="btn btn-outline-secondary px-4">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
