@{
    ViewData["Title"] = "Home Page";
}

<body class="w-100 h-100">
    <div class="text-white SVN-Studio-Brush-900-size3rem m-5 h-500px">
        <p class="ml-80px mb-0">ĂN FOOD NGON</p>
        <p class="ml-150px mt-0">ĐẶT FOODIY</p>
    </div>
    <div class="w-100 h-1080">
        <div class="container w-100 h-100 d-flex justify-content-center align-items-center position-relative">
            <div class="col-7 col-1-linear-gradient h-50 rounded-10 w-70 mx-4">
                <img class="position-absolute h-500px top-10 zindex-0" src="~/assets/image/Professional_food_photographer_Dubai_-_Riyadh___Orkun_Örcan-removebg-preview.png" />
                <img class="position-absolute zindex-1 start-15 top-40" src="~/assets/image/Indulge_in_KFC_Wow_Bucket_with_Jalapeño_Cheese_Poppers_-_Order_Now_-removebg-preview 1.png"/>
                <img class="position-absolute end-33 top-5 mb-0" src="~/assets/image/loa.png" />
                <div class="position-absolute end-38 top-30">
                    <p class="text-white text-center" style="font-family:'Titan One', sans-serif; font-size: 2rem">TO DAY</p>
                    <p class="text-white text-center" style="font-family:'Titan One', sans-serif; font-size: 5rem">NEW</p>
                </div>
                <button class="btn-trynow position-absolute bottom-30 end-30 translate-middle">TRY NOW</button>
            </div>
            <div class="col-5 h-50">
                <div class="row h-60 h-50 combo-linear-gradient rounded-10 mb-3 position-relative">
                    <img class="top-0 start-0 w-50 h-100" src="~/assets/image/Social_media_Selected_Vol_no_1-removebg-preview 1.png"/>
                    <button class="btn-explore position-absolute top-10 end-5">EXPLORE</button>
                    <img class="position-absolute end-5 top-0 h-100 w-50" src="~/assets/image/Fried_Chicken_-_Broastec-removebg-preview 1.png"/>
                    <img class="position-absolute start-55 top-25 h-100 w-50" src="~/assets/image/Aquele_Combo_De_Hot_Dog_Social_Media_PSD_Editável-removebg-preview 1.png" />
                </div>
                <div class="row h-37 gap-2">
                    <div class="col tacos-background-color rounded-10">
                        asda
                    </div>
                    <div class="col hotdog-background-color rounded-10">
                        asdas
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>


