<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineFood</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineFood.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-color" style="height: 100px">
            <div class="container-fluid">
                <div class="navbar-header mx-4">
                    <div class="m-3">
                        <a asp-controller="Home" asp-action="Index" class="text-decoration-none">
                        <span class="iCielCadena-900 logo-size logo-F">F</span>
                        <span class="iCielCadena-900 logo-size logo-O-1">O</span>
                        <span class="iCielCadena-900 logo-size logo-O-2">O</span>
                        <span class="iCielCadena-900 logo-size logo-DIY">D</span>
                        <span class="iCielCadena-900 logo-size logo-DIY">I</span>
                        <span class="iCielCadena-900 logo-size logo-DIY">Y</span>
                        </a>
                    </div>
                </div>
                <ul class="nav nav-link-flex navbar-font">
                    <li class="active mx-3"><a class="text-decoration-none navbar-text-color navbar-text-size" href="#">Home</a></li>
                    <li class="mx-3"><a class="text-decoration-none navbar-text-color navbar-text-size" href="#">Menu</a></li>
                    <li class="mx-3"><a class="text-decoration-none navbar-text-color navbar-text-size" href="#">Services</a></li>
                    <li class="mx-3"><a class="text-decoration-none navbar-text-color navbar-text-size" href="#">About us</a></li>
                    <li class="mx-3"><a class="text-decoration-none navbar-text-color navbar-text-size" href="#">Contact</a></li>
                </ul>

                <div class="input-group mr-2">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    <!-- <button class="btn" type="submit"><i class="fas fa-search"></i></button> -->
                </div>

                <div>
                    <ul class="nav nav-link-flex navbar-text-size">
                        <li class="mx-3">
                            <button class="btn-custom" data-bs-toggle="modal" data-bs-target="#cartModal">
                                <i class="bi bi-cart fs-5"></i>
                            </button>
                        </li>
                        <li class="mx-3"><button class="btn-custom"><i class="bi bi-person fs-5"></i></button></li>
                        <li class="mx-3"><button class="btn-custom"><i class="bi bi-heart fs-5"></i></button></li>
                        <li class="mx-3"><button class="btn-custom"><i class="bi bi-list fs-5"></i></button></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Modal giỏ hàng -->
    <div class="modal" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="font-family: 'Marko One', sans-serif; max-width: 400px;">
            <div class="modal-content text-white" style="background-color: #181818;">
                <div class="modal-header d-flex align-items-center">
                    <img src="../../../assets/image/avatar.png" alt="User Avatar" style="width: 50px; height: 50px; border-radius: 50%;">
                    <div class="ms-3">
                        <span style="font-size: 1.3rem;">abc</span><br>
                        <span style="font-size: 1rem;">ab@64;gmail.com</span>
                    </div>
                    <button type="button" class="btn-close ms-auto" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="text-uppercase mb-3">Your Cart</h5>

                    <!-- Products List -->
                    <h6 class="text-uppercase mb-2 text-start">Products List</h6>
                    <ul class="list-group mb-4">
                        <li class="list-group-item bg-dark text-white d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="image1.jpg" alt="Item 1" style="width: 50px; height: 50px;">
                                <div class="ms-3">
                                    <span>Item 1</span><br>
                                    <small>Size: S</small>
                                    <p class="mb-0">50,000 VND</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <button class="btn btn-outline-secondary btn-sm mx-1 btn-custom_fastfood">-</button>
                                <span>1</span>
                                <button class="btn btn-outline-secondary btn-sm mx-1 btn-custom_fastfood">+</button>
                            </div>
                        </li>
                        <!-- Thêm các sản phẩm khác -->
                    </ul>

                    <!-- Promotions List -->
                    <h6 class="text-uppercase mb-2 text-start">Promotions List</h6>
                    <div class="mb-4 text-start">
                        <p>Name: <span class="float-end">Sale</span></p>
                        <p>Code: <span class="float-end">P2021</span></p>
                        <p>Percent: <span class="float-end">-10%</span></p>
                    </div>

                    <!-- Subtotal, Discount, Total -->
                    <hr class="text-secondary">
                    <div class="d-flex justify-content-between">
                        <span>Subtotal</span>
                        <span>230,000 VND</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>Discount</span>
                        <span>-23,000 VND</span>
                    </div>
                    <hr class="text-secondary">
                    <div class="d-flex justify-content-between">
                        <h5>Total</h5>
                        <h5>207,000 VND</h5>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between position-relative my-1 py-3">
                    <a class="" asp-controller="Payments" asp-action="Index"><button type="button" class="btn btn-warning text-white btn-custom_fastfood" style="width: 48%;" onclick="goToPayment()">THANH TOÁN</button></a>
                    <button type="button" class="btn btn-outline-warning text-white position-absolute end-0 btn-custom_fastfood" onclick="closeCartModal()" style="width: 48%;">Close</button>
                </div>
            </div>
        </div>
    </div>
    <body>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </body>
    @*Contact*@
    <div class="container w-100 h-auto mt-8rem position-relative">
        <div class="row h-25 rounded-top-left-right-20 d-flex" style="background-color: #414040">
            <div class="navbar-header mx-4 col-3">
                <div class="m-3 ">
                    <span class="iCielCadena-900 logo-size logo-F">F</span>
                    <span class="iCielCadena-900 logo-size logo-O-1">O</span>
                    <span class="iCielCadena-900 logo-size logo-O-2">O</span>
                    <span class="iCielCadena-900 logo-size logo-DIY">D</span>
                    <span class="iCielCadena-900 logo-size logo-DIY">I</span>
                    <span class="iCielCadena-900 logo-size logo-DIY">Y</span>
                </div>
            </div>

            <div class="col-1 d-flex justify-content-center align-items-center">
                <img src="~/assets/image/email.png" />
                <span class="mx-2 iCielCadena-200" style="font-size: 1rem; color: white;">abc@gmail.com</span>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center ml-80px">
                <img src="~/assets/image/phone-call.png" />
                <span class="mx-2 iCielCadena-200" style="font-size: 1rem; color: white;">69 21 49 53</span>
            </div>
        </div>
        <div class="row h-75" style="background-color: #3B3B3B">
            <div class="col-2 ">
                <ul class="d-flex flex-wrap justify-content-center align-items-center list-unstyled">
                    <li><img src="~/assets/image/momo.png" style="cursor: pointer" /></li>
                    <li><img class="img-custom" src="~/assets/image/vnpay 1.png" /></li>
                    <li class="mx-4"><img class="img-custom" src="~/assets/image/money.png" /></li>
                    <li><img class="img-custom" src="~/assets/image/atm-card.png" /></li>
                </ul>
            </div>
            <div class="col-2 ml-80px my-3" style="color: white">
                <div>
                    <p style="font-size: 1.2rem; font-weight: 700">FOLLOW US</p>
                </div>
                <ul class="list-unstyled">
                    <li>HELP</li>
                    <li>MENU</li>
                    <li>HOME</li>
                </ul>
            </div>
            <div class="col-2 ml-80px my-3" style="color: white">
                <div>
                    <p style="font-size: 1.2rem; font-weight: 700">ABOUT US</p>
                </div>
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none text-light">ABC@gmail.com</a></li>
                    <li><a class="text-decoration-none text-light">ABC@gmail.com</a></li>
                    <li><a class="text-decoration-none text-light">ABC@gmail.com</a></li>
                </ul>
                <div class="d-flex gap-3">
                    <img style="width: 40px; height: 40px; cursor:pointer" src="~/assets/image/communication.png" />
                    <img style="width: 40px; height: 40px; cursor:pointer" src="~/assets/image/social.png" />
                    <img style="width: 40px; height: 40px; cursor:pointer" src="~/assets/image/tik-tok.png" />
                </div>
            </div>
            <div class="col-2 my-3">
                <img src="~/assets/image/map 1.png" />
                <span class="mx-2" style="font-size: 1rem; color: white;">Concac</span>
            </div>
            <img class="position-absolute end-0 bottom-0" style="width: 400px; height: 450px" src="~/assets/image/chef 3d.png" />
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/home.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>