<link rel="stylesheet" href="~/css/notification.css" asp-append-version="true" />

<div id="notification-modal" class="notification-modal" style="display: none;">
    <div class="modal-content-notify">
        <div class="icon">
            <i id="notification-icon"></i>
        </div>
        <div class="message" id="notification-message"></div>
    </div>
</div>

