/*Nút*/
.button-container {
    display: flex;
    gap: 10px;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

    .btn i {
        margin-right: 5px;
    }

/* Specific styles for each button */
.import {
    background-color: #00AEEF;
}

.export {
    background-color: #00AEEF;
}

.add {
    background-color: #00B140;
}

.edit {
    background-color: #FFD100;
    color: #333;
}

.delete {
    background-color: #ED1C24;
}




.promotion-count {
    font-weight: 400;
}

.promotion-container {
    display: flex;
    width: 100%;
    max-width: 1570px;
    flex-direction: column;
}

@media (max-width: 991px) {
    .promotion-container {
        max-width: 100%;
    }
}

.user-info {
    align-self: end;
    display: flex;
    margin-right: 23px;
    width: 383px;
    max-width: 100%;
    align-items: center;
    gap: 20px;
    font-family: iCiel Baliho Script, -apple-system, Roboto, Helvetica, sans-serif;
    color: #787878;
    font-weight: 400;
    white-space: nowrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .user-info {
        margin-right: 10px;
        white-space: initial;
    }
}

.user-avatar {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 61px;
    align-self: stretch;
    margin: auto 0;
}

.user-details {
    align-self: stretch;
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .user-details {
        white-space: initial;
    }
}

.user-details-inner {
    background-color: rgba(217, 217, 217, 0.11);
    display: flex;
    align-items: start;
    gap: 20px;
    justify-content: space-between;
    padding: 6px 13px;
}

@media (max-width: 991px) {
    .user-details-inner {
        white-space: initial;
    }
}

.user-avatar-small {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 61px;
    border-radius: 100px;
}

.user-text {
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .user-text {
        white-space: initial;
    }
}

.user-name-wrapper {
    z-index: 10;
    display: flex;
    gap: 20px;
    font-size: 24px;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .user-name-wrapper {
        white-space: initial;
    }
}

.dropdown-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 13px;
    margin: auto 0;
}

.user-email {
    font-size: 20px;
}

.promotion-header {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-top: 38px;
    gap: 20px;
    color: #000;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 36px 33px 36px 66px;
    font: 700 30px Golos UI, sans-serif;
}

@media (max-width: 991px) {
    .promotion-header {
        max-width: 100%;
        padding: 0 20px;
    }
}

.promotion-title {
    margin: auto 0;
}

.promotion-graph {
    aspect-ratio: 15.15;
    object-fit: contain;
    object-position: center;
    width: 767px;
}

@media (max-width: 991px) {
    .promotion-graph {
        max-width: 100%;
    }
}

.promotion-content {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-top: 19px;
    width: 100%;
    padding-top: 31px;
    flex-direction: column;
    align-items: end;
}

@media (max-width: 991px) {
    .promotion-content {
        max-width: 100%;
    }
}

.promotion-inner {
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 18px;
}

@media (max-width: 991px) {
    .promotion-inner {
        max-width: 100%;
        padding-right: 20px;
    }
}

.promotion-main {
    margin-left: 12px;
}

@media (max-width: 991px) {
    .promotion-main {
        max-width: 100%;
    }
}

.promotion-layout {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .promotion-layout {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
}

.promotion-left {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 80%;
    margin-left: 0;
}

@media (max-width: 991px) {
    .promotion-left {
        width: 100%;
    }
}

.promotion-left-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Golos UI, sans-serif;
}

@media (max-width: 991px) {
    .promotion-left-content {
        max-width: 100%;
        margin-top: 40px;
    }
}

.promotion-filters {
    align-self: end;
    display: flex;
    width: 1092px;
    max-width: 100%;
    align-items: start;
    gap: 20px;
    color: #000;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .promotion-filters {
        white-space: initial;
    }
}

.promotion-title-count {
    display: flex;
    margin-top: 17px;
    gap: 17px;
    font-size: 30px;
}

@media (max-width: 991px) {
    .promotion-title-count {
        white-space: initial;
    }
}

.promotion-title-text {
    font-weight: 700;
    flex-grow: 1;
}

.promotion-filter-options {
    display: flex;
    gap: 40px 76px;
    font-size: 16px;
    font-weight: 400;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .promotion-filter-options {
        max-width: 100%;
        white-space: initial;
    }
}

.filter-all {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    width: fit-content;
}

@media (max-width: 991px) {
    .filter-all {
        white-space: initial;
    }
}

.filter-all-inner {
    background-color: rgba(217, 217, 217, 0.11);
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 16px 35px;
}

@media (max-width: 991px) {
    .filter-all-inner {
        white-space: initial;
        padding: 0 20px;
    }
}

.dropdown-icon-small {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 13px;
    align-self: start;
}

.filter-calendar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    width: fit-content;
}

@media (max-width: 991px) {
    .filter-calendar {
        white-space: initial;
    }
}

.filter-calendar-inner {
    background-color: rgba(217, 217, 217, 0.11);
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    padding: 14px 29px 14px 13px;
}

@media (max-width: 991px) {
    .filter-calendar-inner {
        padding-right: 20px;
        white-space: initial;
    }
}

.calendar-icon-text {
    display: flex;
    gap: 8px;
}

@media (max-width: 991px) {
    .calendar-icon-text {
        white-space: initial;
    }
}

.calendar-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
}

.calendar-text {
    margin: auto 0;
}

.dropdown-icon-calendar {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 13px;
    align-self: start;
    margin-top: 5px;
}

.promotion-table-header {
    display: flex;
    margin-top: 27px;
    width: 1074px;
    max-width: 100%;
    gap: 40px 67px;
    font-size: 20px;
    color: #787878;
    font-weight: 700;
    flex-wrap: wrap;
}

.promotion-checkbox-header {
    align-self: start;
    display: flex;
    gap: 32px;
}

.checkbox {
    border-radius: 2px;
    background-color: rgba(217, 217, 217, 0);
    display: flex;
    width: 20px;
    height: 20px;
    margin: auto 0;
    border: 1px solid #787878;
}

.promotion-info-header {
    flex-basis: auto;
}

.promotion-details-header {
    display: flex;
    gap: 40px 100px;
    flex-grow: 1;
    flex-basis: auto;
}

@media (max-width: 991px) {
    .promotion-details-header {
        max-width: 100%;
    }
}

.order-limit-header {
    flex-basis: auto;
}

.available-date-header {
    flex-basis: auto;
}

.promotion-right {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .promotion-right {
        width: 100%;
    }
}

.promotion-right-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Golos UI, sans-serif;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .promotion-right-content {
        margin-top: 40px;
        white-space: initial;
    }
}

.columns-dropdown {
    background-color: rgba(217, 217, 217, 0.11);
    display: flex;
    gap: 20px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    justify-content: space-between;
    padding: 16px 35px;
}

@media (max-width: 991px) {
    .columns-dropdown {
        white-space: initial;
        padding: 0 20px;
    }
}

.dropdown-icon-columns {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 13px;
    align-self: start;
}

.status-detail-header {
    align-self: end;
    display: flex;
    width: 185px;
    max-width: 100%;
    gap: 20px;
    font-size: 20px;
    color: #787878;
    font-weight: 700;
    justify-content: space-between;
    margin: 33px 27px 0 0;
}

@media (max-width: 991px) {
    .status-detail-header {
        margin-right: 10px;
        white-space: initial;
    }
}

.promotion-divider {
    margin-top: 15px;
    width: 1515px;
    max-width: 100%;
    height: 1px;
    border: 1px solid #000;
}

@media (max-width: 991px) {
    .promotion-divider {
        margin-right: 3px;
    }
}

.promotion-item {
    display: flex;
    width: 100%;
    gap: 20px;
    font-family: Golos UI, sans-serif;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 14px 0 0 12px;
}

@media (max-width: 991px) {
    .promotion-item {
        max-width: 100%;
        white-space: initial;
    }
}

.promotion-item-left {
    display: flex;
    align-items: center;
    gap: 27px;
}

@media (max-width: 991px) {
    .promotion-item-left {
        white-space: initial;
    }
}

.item-checkbox {
    border-radius: 2px;
    background-color: rgba(217, 217, 217, 0);
    align-self: stretch;
    display: flex;
    width: 20px;
    height: 20px;
    margin: auto 0;
    border: 1px solid #000;
}

.item-image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 72px;
    align-self: stretch;
}

.item-info {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

@media (max-width: 991px) {
    .item-info {
        white-space: initial;
    }
}

.item-code {
    color: #2853fd;
    font-size: 18px;
    font-weight: 700;
    align-self: start;
}

.item-name {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.item-status-detail {
    display: flex;
    gap: 40px 51px;
    font-size: 16px;
    font-weight: 400;
    margin: auto 0;
}

@media (max-width: 991px) {
    .item-status-detail {
        white-space: initial;
    }
}

.item-status {
    align-self: start;
    display: flex;
    margin-top: 4px;
    gap: 5px;
    color: #06b936;
}

@media (max-width: 991px) {
    .item-status {
        white-space: initial;
    }
}

.status-indicator {
    background-color: #06b936;
    border-radius: 50%;
    align-self: start;
    display: flex;
    margin-top: 7px;
    width: 10px;
    height: 10px;
}

.item-detail {
    border-radius: 3px;
    background-color: #eaeaea;
    display: flex;
    gap: 11px;
    color: #000;
    padding: 6px 15px;
}

@media (max-width: 991px) {
    .item-detail {
        white-space: initial;
    }
}

.detail-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
    align-self: start;
    margin-top: 4px;
}

.item-divider {
    margin-top: 14px;
    width: 1515px;
    max-width: 100%;
    height: 1px;
    border: 1px solid #787878;
}

@media (max-width: 991px) {
    .item-divider {
        margin-right: 3px;
    }
}

.promotion-item-2 {
    display: flex;
    width: 100%;
    gap: 20px;
    font-family: Golos UI, sans-serif;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 13px 0 0 12px;
}

@media (max-width: 991px) {
    .promotion-item-2 {
        max-width: 100%;
        margin-right: 4px;
        white-space: initial;
    }
}

.promotion-item-left-2 {
    display: flex;
    align-items: center;
    gap: 27px;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .promotion-item-left-2 {
        white-space: initial;
    }
}

.item-checkbox-2 {
    border-radius: 2px;
    background-color: rgba(217, 217, 217, 0);
    align-self: stretch;
    display: flex;
    width: 20px;
    height: 20px;
    margin: auto 0;
    border: 1px solid #000;
}

.item-image-2 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 72px;
    align-self: stretch;
}

.item-info-2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

@media (max-width: 991px) {
    .item-info-2 {
        max-width: 100%;
        white-space: initial;
    }
}

.item-code-wrapper {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #2853fd;
    font-weight: 700;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .item-code-wrapper {
        max-width: 100%;
        white-space: initial;
    }
}

.item-code-icon {
    aspect-ratio: 2.2;
    object-fit: contain;
    object-position: center;
    width: 11px;
    align-self: start;
    margin-top: 16px;
}

.item-name-2 {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    align-self: start;
}

.item-status-detail-2 {
    display: flex;
    gap: 23px;
    font-size: 16px;
    font-weight: 400;
    margin: auto 0;
}

@media (max-width: 991px) {
    .item-status-detail-2 {
        white-space: initial;
    }
}

.item-status-2 {
    display: flex;
    gap: 5px;
    color: #e91515;
    margin: auto 0;
}

@media (max-width: 991px) {
    .item-status-2 {
        white-space: initial;
    }
}

.status-indicator-2 {
    background-color: #e91515;
    border-radius: 50%;
    align-self: start;
    display: flex;
    margin-top: 6px;
    width: 10px;
    height: 10px;
}

.item-detail-2 {
    border-radius: 3px;
    background-color: #eaeaea;
    display: flex;
    gap: 11px;
    color: #000;
    padding: 6px 15px;
}

@media (max-width: 991px) {
    .item-detail-2 {
        white-space: initial;
    }
}

.detail-icon-2 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
    align-self: start;
    margin-top: 4px;
}

.item-divider-2 {
    margin-top: 15px;
    width: 1515px;
    max-width: 100%;
    height: 1px;
    border: 1px solid #787878;
}

@media (max-width: 991px) {
    .item-divider-2 {
        margin-right: 4px;
    }
}

.locked-status {
    display: flex;
    gap: 5px;
    color: #e5e82d;
    white-space: nowrap;
    margin: 25px 178px 0 0;
    font: 400 16px Golos UI, sans-serif;
}

@media (max-width: 991px) {
    .locked-status {
        margin-right: 10px;
        white-space: initial;
    }
}

.locked-indicator {
    background-color: #e5e82d;
    border-radius: 50%;
    align-self: start;
    display: flex;
    margin-top: 5px;
    width: 10px;
    height: 10px;
}

.promotion-footer {
    z-index: 10;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 205px -89px -73px 0;
}

@media (max-width: 991px) {
    .promotion-footer {
        max-width: 100%;
        margin: 40px 0 10px;
    }
}

.selected-count {
    color: #568dea;
    align-self: stretch;
    margin: auto 0;
    font: 400 14px Golos UI, sans-serif;
}

.pagination {
    align-self: stretch;
    display: flex;
    align-items: start;
    gap: 25px;
    margin: auto 0;
}

.pagination-arrows {
    display: flex;
    gap: 13px;
}

.arrow-left {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 18px;
}

.arrow-left-double {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 18px;
}

.pagination-numbers {
    align-self: stretch;
    display: flex;
    gap: 20px;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    font: 400 16px Golos UI, sans-serif;
}

@media (max-width: 991px) {
    .pagination-numbers {
        white-space: initial;
    }
}

.pagination-current {
    color: #000;
}

.pagination-arrows-right {
    display: flex;
    gap: 13px;
}

.arrow-right {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 18px;
}

.arrow-right-double {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 18px;
}

.footer-image {
    aspect-ratio: 1.3;
    object-fit: contain;
    object-position: center;
    width: 327px;
    align-self: stretch;
    max-width: 100%;
}


