@model OnlineFood.Models.Role

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center my-4">Role Details</h1>

<div class="card shadow-lg p-4">
    <h4 class="card-title mb-4">View Role Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 fw-bold text-primary">
            Tên vai trò
        </dt>
        <dd class="col-sm-9 border-bottom pb-2 mb-2">
            @Html.DisplayFor(model => model.TenRole)
        </dd>

        <dt class="col-sm-3 fw-bold text-primary">
            Trạng thái
        </dt>
        <dd class="col-sm-9 border-bottom pb-2 mb-2">
           @(Model.TrangThai == 1 ? "Active" : "Inactive")

        </dd>

        <dt class="col-sm-3 fw-bold text-primary">
            Mô tả
        </dt>
        <dd class="col-sm-9 border-bottom pb-2 mb-2">
            @Html.DisplayFor(model => model.Mota)
        </dd>
    </dl>

    <div class="d-flex justify-content-between mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary px-4">Edit</a>
        <a href="@Url.Action("Index", "Settings")" class="btn btn-outline-secondary px-4">Back to List</a>
    </div>
</div>
